@inject IViewLocalizer _localizer
<div class="change-email-confirmation-page d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column col-login-ui">
        <div class="lead">
            <h1>@_localizer["Confirm email change"]</h1>
        </div>
        <div class="d-flex flex-row flex-fill">
            <p class="w-100">@_localizer["Thank you for confirming your email change."]</p>
        </div>
    </div>
</div>