@model ChangePasswordViewModel
@inject IViewLocalizer _localizer
@{
    ViewBag.ModelOnlyErrors = true;
}
<h3>@_localizer["Change Password"]</h3>
<partial name="_StatusMessage" model="@(TempData["StatusMessage"])" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <partial name="_ValidationSummary" />
            <input type="hidden" asp-for="ReturnUrl" />

            <div class="form-group">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <div class="form-text">@_localizer["PasswordRequirements"]</div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@_localizer["Update password"]</button>
        </form>
    </div>
</div>