@model EmailViewModel
@inject IViewLocalizer _localizer
@{
    ViewBag.ModelOnlyErrors = true;
}
<h3>@_localizer["Manage Email"]</h3>
<partial name="_StatusMessage" model="@(TempData["StatusMessage"])" />
<partial name="_ValidationSummary" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post" asp-action="EmailAddress">
            <div class="form-group">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" disabled />
                        <div class="input-group-append">
                            <span class="input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="form-control" disabled />
                    <a class="btn btn-link" asp-action="VerifyEmail">@_localizer["Send verification email"]</a>
                }
            </div>
            <div class="form-group">
                <label asp-for="NewEmail"></label>
                <input asp-for="NewEmail" class="form-control" />
                <span asp-validation-for="NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" class="btn btn-primary">@_localizer["Change email"]</button>
        </form>
    </div>
</div>